<div class="grid-template">
  <header class="header">
    <a routerLink="/">crud</a>
    
  </header>
  <aside class="aside">
      <nav>
          <ul>
            <li routerLink="mesas" routerLinkActive="active">
              <span>Mesas</span>
            </li>
            <li routerLink="produtos"  routerLinkActive="active">
                <span>Produtos</span>
              </li>
              <li routerLink="pedidos"  routerLinkActive="active">
                  <span>Pedidos</span>
                </li>
          </ul>
        </nav>
  </aside>
  <content class="content">
      <router-outlet></router-outlet>
  </content>
  <footer class="footer">
      <span>© 2019 Copyright: Henrique Santos</span>
  </footer>
 
</div>
